extends ./layout/index

block contenido
    main.container.mt-5   
        .row
            .col-md-5      
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7  
                h1 #{pagina}
                blockquote Vivamus et leo orci. Nullam scelerisque viverra varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent sollicitudin erat ligula, sit amet facilisis leo tristique eu. Vestibulum ullamcorper molestie mauris vel viverra. Phasellus maximus molestie ex. Vivamus ut justo id libero molestie laoreet. Curabitur ac dui egestas, pharetra mauris sit amet, suscipit leo. Donec dignissim augue ut lobortis varius. Ut odio sem, pharetra in orci id, fringilla posuere lectus. Integer at tortor a turpis molestie sodales. 

                p Maecenas mi lorem, suscipit nec quam sit amet, tempor condimentum enim. Fusce lacinia pretium justo at placerat. Etiam gravida placerat ullamcorper. Suspendisse potenti. Suspendisse vitae est porttitor, mollis nisi id, sagittis turpis. Etiam molestie felis at tempor finibus.

                p Donec vitae venenatis urna, non aliquam lacus. Aenean id tortor blandit ante luctus suscipit ac sed mauris. Praesent non lacus sed tellus volutpat placerat et ut nisl. Maecenas viverra laoreet tempus. Fusce sit amet pharetra turpis. 
    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col.md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Donec vitae venenatis urna, non aliquam lacus. Aenean id tortor blandit ante luctus suscipit ac sed mauris. Praesent non lacus sed tellus volutpat placerat et ut nisl. Maecenas viverra laoreet tempus. Fusce sit amet pharetra turpis. 

                .col.md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Donec vitae venenatis urna, non aliquam lacus. Aenean id tortor blandit ante luctus suscipit ac sed mauris. Praesent non lacus sed tellus volutpat placerat et ut nisl. Maecenas viverra laoreet tempus. Fusce sit amet pharetra turpis.
                
                .col.md-4 
                    img(src="img/icono_precios.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios  
                    p Donec vitae venenatis urna, non aliquam lacus. Aenean id tortor blandit ante luctus suscipit ac sed mauris. Praesent non lacus sed tellus volutpat placerat et ut nisl. Maecenas viverra laoreet tempus. Fusce sit amet pharetra turpis.